* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(206, 183, 226);
    font-family: cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 500px;
}

.current-date {
    background-color: slateblue;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;

    & .month{
        font-size: 32px;
    }
}

.days-of-week {
    background-color: black;
    display: flex;
    width: 100%;
}

.days {
    padding: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dates {
    border-radius: 0px 0px 10px 10px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
}

.dates div {
    width: 71px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover:not(.empty) {
        border: 2px solid white;
    }
}

.today {
    background-color: slateblue;
}

